<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 실질적인 쿼리문을 작성하는 곳 -->
<mapper namespace="com.spring.mapper.genreMapper">
	<!-- mybatis-config.xml의 typeAlias에 등록해두지 않았다면 <select id="selectMember" 
		resultType="com.example.dto.MemberVO" > SELECT ID, PW ,NAME FROM TEST </select> 
		이렇게 해야 한다. -->
	
	<select id="getAllgenre" resultType="genreVO">
		SELECT * FROM GENRES
	</select>
	
</mapper>

  