<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 실질적인 쿼리문을 작성하는 곳 -->
<mapper namespace="com.spring.mapper.replyMapper">
	<!-- mybatis-config.xml의 typeAlias에 등록해두지 않았다면 <select id="selectMember" 
		resultType="com.example.dto.MemberVO" > SELECT ID, PW ,NAME FROM TEST </select> 
		이렇게 해야 한다. -->

	<insert id="insertReply">
		 <![CDATA[
		INSERT INTO replys(bnum,rpnum,replyText,replyer) 
		VALUES (#{bnum},IFNULL( (SELECT * FROM (SELECT MAX(rpnum)+1 FROM replys WHERE bnum=#{bnum} ) NEXT ), 1 ) ,#{replyText},#{replyer})
		]]>
	</insert>

	<select id="getBnumReply" resultType="replyVO">
		 <![CDATA[
		SELECT * FROM replys WHERE bnum = #{bnum} ORDER BY rpnum desc
		]]>
	</select>

	<insert id="insertReReply">
	 <![CDATA[
		INSERT INTO replys(bnum,rpnum,rnum,replyText,replyer)
		VALUES (#{bnum}, #{rpnum}, IFNULL( ( SELECT * FROM (SELECT MAX(rnum)+1 FROM replys WHERE bnum = #{bnum} AND rpnum =#{rpnum} ) NEXT ), 1),#{replyText},#{replyer})
		]]>
	</insert>

	<select id="getReplyCnt" resultType="replyVO">
 <![CDATA[
		SELECT bnum, COUNT(*) AS 'bnumCnt' FROM replys GROUP BY bnum
	]]>
	</select>
</mapper>

 