<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 실질적인 쿼리문을 작성하는 곳 -->
<mapper namespace="com.spring.mapper.videoMapper">
	<!-- mybatis-config.xml의 typeAlias에 등록해두지 않았다면 <select id="selectMember" 
		resultType="com.example.dto.MemberVO" > SELECT ID, PW ,NAME FROM TEST </select> 
		이렇게 해야 한다. -->
	

		
	<insert id="insertVideo" parameterType="videoVO" keyProperty="vnum" keyColumn="vnum" useGeneratedKeys="true"  >
		INSERT INTO videos(vurl ,unum ,userid ,vpw, vtitle, gnum) VALUES(#{vurl},  #{unum},#{userid} , #{vpw}, #{vtitle} ,#{gnum})
	
	</insert>

	<select id="getAllList" resultType="videoVO">
			
		
	SELECT * FROM(
		SELECT ROW_NUMBER() over (ORDER BY ${con} DESC ) AS RN ,bnum ,B.vnum ,B.unum ,B.gnum ,B.userid ,vurl , vtitle ,vpw, A.upcnt, A.downcnt, A.viewcnt 
					FROM boards A INNER JOIN videos B 
						ON A.vnum = B.vnum 
						WHERE B.gnum LIKE CONCAT( #{gnum}, '%') 
					) C
					WHERE RN BETWEEN #{start} AND #{end}
					
 
			
	</select>
	 
	<select id="getMyVideo" resultType="videoVO">
	
	SELECT * FROM(
		SELECT ROW_NUMBER() over (ORDER BY bnum DESC ) AS RN ,bnum ,B.vnum ,B.unum ,B.gnum ,B.userid ,vurl , vtitle, vpw,  A.upcnt, A.downcnt, A.viewcnt 
					FROM boards A INNER JOIN videos B 
						ON A.vnum = B.vnum 
						 
						AND B.unum = #{unum}
					) C
					WHERE RN BETWEEN #{start} AND #{end}
	
	</select>
	
	<select id="getOneVideo" resultType="videoVO">
		SELECT * FROM videos WHERE vnum =#{vnum}
	</select> 
	
	<update id="myVideoUpdate" >
		UPDATE videos SET vurl=#{vurl} , vtitle=#{vtitle}, vpw =#{vpw}, gnum=#{gnum} WHERE vnum= #{vnum} AND unum =#{unum}
	</update>
	 
	 <delete id="videoDelete">
	 	DELETE FROM videos WHERE vnum = #{vnum};
	 </delete>
</mapper>

 