@charset "UTF-8";

 
#mainNav{
	background-color: #55279a ;  
	 /* display:none; */ 
}

#navbar-brand{
	
	font-weight: 700;
	font-size: 26px;
} 
.mainCotainer{
	padding-top: 4em;
}
.row{
	
	display: flex;
	flex-direction: row;
}

.left-menuBox{
	height: calc(100vh - 4rem);
    top: 4em;
  	position: sticky;
  	border-right : 1px solid #dfdfdf;
  	padding :2em;
}
.left-menu{
	
	text-align: center;
}
.left-list-group > li {
	
	background-color: #9370db3d;
	
/* 	border-radius: 20px;*/
	padding : 12px 5px 12px 5px;
	margin: 2px;
	font-weight: bold;
}

.mainBox{
	/* top: 4em;*/
}


.right-menuBox{
	height: calc(100vh - 4rem);
    top: 4em;
	position: sticky;
	
}

.nav-btn{ 
	font-size : 20px;
	font-weight: 700;
	color : #fff;
	border : 1px solid;
	letter-spacing: 1px;
    border-radius: 6px;
}

.search-container {
	
	display: flex;
}

.spanBtn{
	
	margin: 0px 10px auto;
    width: 50px;
    font-weight: 700;
}
.input-group-text{
	
}
/* test */
/* .row > div {
	
	
	border : 1px solid red;
} */

 
#idCheck{
	
	display : none;
	
}
.uph{
	
	display: inline-block;
}

.genre-box > button{
	
	width : 16.2%;
	margin-bottom: 10px;
	font-weight:bold;
	color: #55279a;
    border-color: #55279a;
	
}

.main-content{
	
	/* border: 1px solid; */
}
 
.video-info-box{
	
	border-left: 1px solid silver;
    border-left-style: dashed;
}
.video-img-box > img {
	
	max-width:100%;
	height:auto;

}

.video-info-box > label {
	font-size : 28px;
	font-weight: bold;
	margin-bottom: 0px;
	width: 100%;
    border-bottom: 1px solid;
    color: #ab71ff;
    
}
.info-group  {
	
	margin-top: 10px;
}
.info-group > li {
	
	font-weight: bold;
	
}
.btn-box {
  
    margin: 10px 5px auto;
}

.btn-comment-box {
    display: inline-block;
}

.btn-like-box{
	
	float: right;
}

.reply-input-group{
	margin : 0px auto;
	padding: 5px;
}

.reply-input-group > div{
	
	padding : 0px;
}

.reply-input-btn{
	
	text-align:center;
}
.reply-input-btn.parentBtn{
	
	text-align : right;
}
.reply-input-btn >button {
	
	margin-right: 1px;
}
 
i.replyIcon{
	line-height: 1.69;
}

.reply-box {
    /* border: 1px solid; */
    padding: 5px;
    margin: 5px;
}

.reply-replyer-box {
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
}

.reply-text-box {
    font-size: 18px;
    padding: 5px;
}

.reReply {
    float: right;
    font-size: 17px;
    padding: 5px;
    line-height: 1;
    font-weight: bold;
}

.reReply-box{
	 margin: 5px;
	
}

.reReplyIcon{
	
	text-align: center;
	margin : auto;
}

.reReply-box-child{
	
	padding : 5px;
	
}

.reReplyContainer{
	
	padding : 10px;
}

.viewCnt{
	color: black;
	position: relative;
	float: right;
    font-size: 15px;
    font-weight: bold;
	bottom: -20px;	 
}