@charset "UTF-8";

a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #000;
}

.navbar {
	background-color: #55279a;
}

.navbar-brand{
	
	font-size: 25.5px;
    font-weight: 700;
}
.btn-outline {
	font-weight: bold;
	letter-spacing: 1px;
}

.mainContainer {
	padding-top: 4rem;
	
}

.left-menuBox {
	position: sticky;
	top: 4rem;
	height: calc(100vh - 4rem);
	border-right: 1px solid #dfdfdf;
}

.mainBox {
	/* height: calc(100vh - 4rem); */
	/* 	display :  none;  */
}

.main-content {
	/* display : none; */
	
}

.search-box {
	display: flex;
}

.search-group {
	padding-right: 0px;
}

.con-btn-group {
	padding-left: 0px;
}

.con-btn-group {
	align-self: flex-end;
	font-size: 14px;
}

.genre-box {
	display: flex;
	justify-content: center;
}


.genre-box>button {
	margin: 0px 2px 0px 2px;
}
.card-header >div {
	
	width : 100%;
}
.video-img-box > img {
	
	max-width:100%;
	height:auto;
	padding :0px;
	
}
