@charset "UTF-8";

.navbar-brand {
	margin: 0px;
	padding: 0rem 0.25rem;
	font-family: brandName;
	letter-spacing: 0.1rem;
	font-size: 3.7vw;
}

/* 슬라이드 이너 */
.carousel-inner {
	width: 29rem;
}
/* 슬라이드 이너 끝  */

/* modal  */
.modal-content {
	width: 90%;
	margin: 0px auto;
	top: 5%;
}
/* modal 끝  */
