@charset "UTF-8";

.col-12 {
	
	padding : 0px;
}

.navbar {
	background-color: #7040b7;
}

.paging-box{
	
	display : none; 
}

.mainContainer > div {
	
	/* display : none; */
}

.modal-content {
    width: 90%; 
    margin: 0px auto;
    top: 5%;
}

.video-img-box > img {
	
	width : 100%;
}

.left-menuBox{
	display: none;
}

.mainBox {
    display: flex;
    flex-direction: column;
    margin-top: 3.25rem;
}

.genre-box{
	
	display: flex;
	flex-direction: row;
}

.body-card-header {
	
	padding : 0px;
}

.body-card-header > .row {
	
	diplay : flex;
	flex-direction: column;
	
}

.video-info-row {
	width: inherit;
    margin: 0px;
	padding: 0.5rem;

}

.video-info-row > * {
	
	font-size : 1rem;
}