@charset "UTF-8";

.navbar {
	background-color: blue;
	height: 4rem;
}

#searchTool {
	position: absolute;
}
.form-inline{
	
	display: none;
}

.content-view{
	
	display : none;
}

.mainBox > div {
	
	display: none;
}

.mainBox{
	
	margin-top :4.5rem;
}

.left-menuBox{
	top : 4rem;
	position: sticky;
	height: calc(100vh - 4rem);
	margin-top: 4rem;
	display: flex;
    flex-direction: column;
}

.search-form {
	
	display: flex;
	
}

