@charset "UTF-8";


.carousel-inner {
	width: 28rem;
}

.mainContainer {
	padding-left: 0px;
	padding-right: 0px;
}

.genreBtn {
 	font-size: 2vw;
    min-height: 2rem; 
}


.page-top-btn{
	width: 12vw;
	bottom: 2rem;
    right: 7vw;
}